<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <label for="" class="font-weight-bold">Reactive Forms</label>
      <form [formGroup]="userForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="usr">Name:</label>
              <input type="text" formControlName="name" name="name" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" formControlName="email" name="email" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="male">Male
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="female">Female
              </label>
            </div>
          </div>
          <div formArrayName="favFood" class="col-lg-6">
            <label for="">Fav Cusine</label>&nbsp;
            <div formGroupName="0" class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" formControlName="indian" class="form-check-input" value="">Indian
              </label>
            </div>
            <div formGroupName="1" class="form-check-inline">
              <label class="form-check-label">
                <input type="checkbox" formControlName="chinese" class="form-check-input" value="">Chinese
              </label>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <label for="" class="font-weight-bold">Address</label>
          </div>
          <div class="col-lg-6">
            <button type="submit" (click)="addAddress()" class="btn btn-primary float-right">Add Address</button>
          </div>
        </div>

        <div formArrayName="addressess" *ngFor="let address of userForm.get('addressess').controls; let i = index;" class="row" style="background: #eee; margin-top: 5px;">
          <div [formGroupName]="i" class="col-lg-12" >
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="usr">Address line 1:</label>
                  <input type="text" formControlName="line1" name="line1" class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="usr">Address line 2:</label>
                  <input type="text" formControlName="line2" name="line2" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="sel1">Country:</label>
                  <select class="form-control" formControlName="country">
                    <option>India</option>
                    <option>USA</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="sel1">Country:</label>
                  <select class="form-control" formControlName="state">
                    <option>TamilNadu</option>
                    <option>Kerala</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="sel1">Country:</label>
                  <select class="form-control" formControlName="city">
                    <option>Chennai</option>
                    <option>Bangalore</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <pre><code>{{userForm.value | json}}</code></pre>
    </div>
  </div>

</div>